body{

background:#0f172a;

color:white;

font-family:Arial;

text-align:center;

padding:40px;

}

h1{

font-size:52px;

color:#60a5fa;

}

button{

padding:18px;

margin:10px;

border-radius:10px;

font-size:20px;

border:none;

cursor:pointer;

}

#free{

background:#22c55e;

}

#premium{

background:#f59e0b;

}